<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   

    <header>
        <a href="/">Home</a>
        <a href="/Hotel">Hotel</a>
        <a href="/Rooms">Rooms</a>
        <a href="/Amenities">Amenities</a>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
