<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
</head>
<body>
   <h1>Welcome to Async Inn</h1>

    <header>
        <nav class="navbar">
        <a href="/" class="navbar-brand">Home</a>
        <a href="/Hotel" class="navbar-brand">Hotel</a>
        <a href="/Rooms"class="navbar-brand" >Rooms</a>
        <a href="/Amenities"class="navbar-brand" >Amenities</a>
            </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>Foot stuff coming</footer>
</body>
</html>
